%# Never call a man a fool; borrow from him.

% return unless $QueueObj->OriginObj;
<table cellspacing=0 cellpadding=0 border=0 width="100%">
<tr valign="top"><td width="100"><table cellspacing=0 cellpadding=0 border=0>

<& /Work/Tickets/Elements/ShowCustomFields, Ticket => $QueueObj->OriginObj, ReadOnly => 1, Loc => 1 &>

</table></td><td width="50">&nbsp;</td><td><table cellspacing=0 cellpadding=0 border=0>

<&|/Work/Elements/Row, Title => loc('Registered on')&>
<% $QueueObj->CreatedObj->AsDate %>
</&>

<&|/Work/Elements/Row, Title => loc('Latest Release')&>
% my $Tickets = RT::Tickets->new( $session{'CurrentUser'} );
% $Tickets->LimitQueue( VALUE => $QueueObj->Id );
% $Tickets->LimitType( VALUE => 'release' );
% $Tickets->LimitStatus( VALUE => 'resolved' );
% $Tickets->OrderByCols(
%     { FIELD => 'Starts', ORDER => 'DESC' },
%     { FIELD => 'Id', ORDER => 'DESC' }
% );
% if (my $Ticket = $Tickets->First) {
<a href="Download/?Queue=<% $QueueObj->Id %>"><% $Ticket->Subject %></a>
% } else {
(<&|/l&>none</&>)
% }
</&>

<&|/Work/Elements/Row, Title => loc('Project Staff')&>
% my $Members = $QueueObj->AdminCc->MembersObj;
% while (my $watcher = $Members->Next) {
<nobr><a href="/Foundry/User/?User=<% $watcher->MemberObj->Object->Id %>"><% $watcher->MemberObj->Object->Name %></a> (<&|/l&>Admin</&>)</nobr><br>
% }
% $Members = $QueueObj->Cc->MembersObj;
% while (my $watcher = $Members->Next) {
<nobr><a href="/Foundry/User/?User=<% $watcher->MemberObj->Object->Id %>"><% $watcher->MemberObj->Object->Name %></a> (<&|/l&>Member</&>)</nobr><br>
% }
</&>

% foreach my $function (qw( News Jobs )) {
%   my $Items = $QueueObj->FunctionItems($function);
%   $Items->RowsPerPage(5);
%   if ($Items->Count) {
<&|/Work/Elements/Row, Title => loc("Latest $function") &>
<em><a href="Feed.html?Queue=<% $QueueObj->Id %>;Function=<% $function %>;Flavor=RSS"><img src="/Foundry/Icons/rss.png" border="0"/></a></em>
</&>
<tr><td colspan="3">
<ul>
%     while (my $Item = $Items->Next) {
<li><nobr><a href="Item.html?Queue=<% $QueueObj->Id %>;Function=<% $function %>;id=<% $Item->Id %>"><% $Item->Subject %></a></nobr>
%       if ($function eq 'News') {
(<% $Item->CreatedObj->AsString =~ /(^\S+)/g %>)
%       }
</li>
%     }
</ul>
</td></tr>
%   }
% }

</table></td></tr></table>

<%ATTR>
Tab2	=> 'Summary'
</%ATTR>
<%ARGS>
$QueueObj
</%ARGS>
