<h3><% loc($Function) %>: <% $Item->Subject %></h3>
% if ($Item->QueueObj->CustomFields->Count) {
<& /Work/Tickets/Elements/ShowCustomFields, Ticket => $Item, ReadOnly => 1, Loc => 1 &>
% }
<tr><td>
<& /Foundry/Elements/Text2HTML, Text => $Item->FirstContent &>
</td></tr>
</table>
<hr>
<&|/l&>Created</&>: <% $Item->CreatedObj->AsString %>
|
<a href="index.html?Queue=<% $QueueObj->Id %>"><&|/l&>Back to Previous</&></a>
<%INIT>
my $Item = $QueueObj->LoadFunctionItem($Function => $id) or return;
</%INIT>
<%ARGS>
$QueueObj
$Function
$id
</%ARGS>
<%ATTR>
Tab2	=> 'Summary'
</%ATTR>
