# This is a sample only.  Please modify it according to your local setup

$ENV{RT_URL}	    = 'http://rt.openfoundry.org';
$ENV{RT_DSN}	    = 'dbi:Pg:dbname=rt3;host=ssh.openfoundry.org;user=pgsql';
$ENV{SVNREPOS}	    = '/home/svn';
$ENV{CVSROOT}	    = '/home/cvs';
$ENV{CVSUSER}	    = 'cvs';
$ENV{CVSGROUP}	    = 'cvs';

